---
import Layout from "../layouts/Layout.astro";
import Header from "../Componant/Header";
import ListeAudio from "../Componant/ListeAudio";
import NosCompositions from "../Componant/NosCompositions";
import SectionAlbums from "../Componant/SectionAlbums";
import Footer from "../Componant/Footer";
import Container from "../Componant/Container";
import audioBg from "../assets/audio.png";
import Banniere from "../Componant/Banniere";
import PageLoader from "../Componant/PageLoader";
---

<Layout
  title='Audios'
  description='Écoutez nos albums et pistes audio africains avec paroles intégrées. Musiques originales, compositions et bien plus sur Mangwa Corpus.'>
  <PageLoader count={2} client:load />
  <Header client:load />

  <Container>
    <h1 class='text-[22px] sm:text-[26px] font-bold text-gray-900 mt-6 mb-4'>
      Audios
    </h1>
  </Container>
  <Container client:load>
    <Banniere page='audio' client:load />
  </Container>
  <!-- Hero banner -->

  <ListeAudio client:load />
  <SectionAlbums client:load />
  <NosCompositions client:load />
  <Footer client:load />
</Layout>
