---
import Layout from "../layouts/Layout.astro";
import Header from "../Componant/Header";
import Footer from "../Componant/Footer";
import Container from "../Componant/Container";
import Banniere from "../Componant/Banniere";
import EbookPageContent from "../Componant/EbookPageContent";
---

<Layout
  title='E-Books & Magazines'
  description="Parcourez notre collection d'e-books et magazines africains. Lectures enrichissantes sur la culture, l'histoire et l'actualité africaine.">
  <Header client:load />

  <Container>
    <h1 class='text-[22px] sm:text-[36px] font-bold text-gray-900 mt-6 mb-4'>
      E-Books & Magazines
    </h1>
  </Container>
  <Container client:load>
    <Banniere page='mag' client:load />
  </Container>

  <EbookPageContent client:load />
  <Footer client:load />
</Layout>
