---
import Layout from "../layouts/Layout.astro";
import Header from "../Componant/Header";
import PanneauEdition from "../Componant/PanneauEdition";
import ListeEditions from "../Componant/ListeEditions";
import SectionLibrairie from "../Componant/SectionLibrairie";
import Footer from "../Componant/Footer";
import Container from "../Componant/Container";
---

<Layout>
  <Header client:load />

  <Container>
    <h1 class='text-[22px] sm:text-[36px] font-bold text-gray-900 mt-6 mb-4'>
      E-Book
    </h1>
  </Container>

  <PanneauEdition
    client:load
    badge='Édition Limitée'
    nom="Samuel ETO'O"
    description='Un homme, une histoire, une légende vivante'
    ctaLabel='Obtenir un exemple'
    ctaHref='#'
  />

  <ListeEditions client:load />
  <SectionLibrairie client:load />
  <Footer client:load />
</Layout>
